{% extends 'base.html' %}


{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About me</h1>
<p><p> Im Daniel Avilez, im 27. i was born and rasied in Tucson Az. I have a beautiful daughter named Ivy. I was in the Army from 2015 to current. I am a generator mechanic. My interests are cars, shoe,and video games. I choose to become a web devoloper because i like a challeng. I had a coding class in high school but that was back in 09, been interested since.  </p>
</p>

{% endblock content %}